<div class="container">
    <div style="padding: 30px;" class="row">
        <div class="col-sm-10 mx-auto">
            
            <h2 style="text-align: center; color: darkcyan; font-size: 30px;">Update Product</h2>
            <p *ngIf = "!exist" style="color: red;">Product Doesn't Exist</p>
            
            <form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)">
                <label>Name: </label><input style="display: block;" type = "text" name="name" placeholder="name" autocomplete="off" [(ngModel)]="data.name" ngModel>
-                <label>Color: </label><input style="display: block;"  type = "text" name="color" placeholder="color" autocomplete="off" [(ngModel)]="data.color" ngModel>
-                <input class="submit" type="submit" value = "Update Product">
              </form>
            
        </div>
    </div>
</div>
