<style>
    table,td,th{
        border: 1px solid #000;
    }

    td, th{
        padding: 10px 20px;
    }
</style>


<h1 style="text-align: center; margin-top: 20px; font-size: 30px; color: darkcyan;">Employee Details</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Employee Name</th>
        <th>Employee Age</th>
        <th>Employee Salary</th>
    </tr>

    <tr *ngFor="let com of lstcomments">
        <td>{{com.id}}</td>
        <td>{{com.employee_name}}</td>
        <td>{{com.employee_salary}}</td>
        <td>{{com.employee_age}}</td>
    </tr>
</table>