<div class="container">
    <div style="padding: 30px;" class="row">
        <div class="col-sm-10 mx-auto">
            <h2 style="text-align: center; color: darkcyan; font-size: 30px;">Add New Products</h2>
            <a style="padding: 10px 20px; margin-top: 20px; margin-bottom: 20px;" routerLink = "/"> < Back </a>
            <form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">
                <label>Name: </label><input type = "text" name="name" placeholder="name" autocomplete="off" ngModel><br>
                <label>Color: </label><input type = "text" name="color" placeholder="color" autocomplete="off" ngModel><br>
                <input class="submit" type="submit" value = "Add Product">
            </form>
            <br>
            <p style="font-size: 21px; color: green; text-align: center;" *ngIf = "isAdded" >{{confirmationString}}</p>
        </div>
    </div>
</div>
